@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@angular/cdk/overlay-prebuilt";

@include mat-core();

$mprj-material-theme-primary: mat-palette($mat-blue-gray, 800);
$mprj-material-theme-accent: mat-palette($mat-cyan, 500);
$mprj-material-theme-warn: mat-palette($mat-yellow, 600);
$mprj-material-theme-background: mat-palette($mat-blue-gray, 50);

$mprj-material-theme: mat-light-theme(
    $mprj-material-theme-primary,
    $mprj-material-theme-accent,
    $mprj-material-theme-warn
);


$mprj-material-theme-base-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);

$mprj-material-theme-heading-typography: mat-typography-config(
  $font-family: '"Open Sans", sans-serif',
  $headline: mat-typography-level(24px, 32px)
);

body {
  font-family: mat-font-family($mprj-material-theme-base-typography);
}
.mat-h1, .mat-h2, .mat-headline, h1, h2, h3 {
  font-family: mat-font-family($mprj-material-theme-heading-typography);
  font-weight: 500;
}
@include angular-material-typography($mprj-material-theme-base-typography);
@include angular-material-theme($mprj-material-theme);
