h1.logo-mprj {
  display: block;

  a {
    display: block;
    text-indent: -9999px;
    margin: auto;
    text-decoration: none;
    color: #fafafa;
    width: 336px;
    height: 57px;
    background: url('/assets/images/logo-mprj-portal.svg');
    background-size: 336px 57px;
  }

}
